ebin/*.beam
doc/*
Makefile
m4/*
aclocal.m4
autom4te.cache/
c_src/.deps/
c_src/.libs/
config.h
config.log
config.status
configure
Emakefile
*.lo
*.la
*.in
*~
include/internal/*.hrl
ac-aux/
libtool
stamp-h1